@model List<Contracts.Form.ContactForm>

@{
    ViewData["Title"] = "Forms List";
}

@if (Model == null || Model.Count == 0)
{
    <span>No One Contract was found. Create?</span>
}
else
{

    <nav aria-label="...">
        <ul class="pagination">

            @if (ViewBag.P.PreviousExists)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="contactforms" asp-action="list" asp-route-page=@ViewBag.P.PreviousNumber>Previous</a>
                </li>
                <li class="page-item"><a class="page-link" asp-controller="contactforms" asp-action="list" asp-route-page=@ViewBag.P.PreviousNumber>@ViewBag.P.PreviousNumber</a></li>
            }

            <li class="page-item active">
                <span class="page-link">
                    @ViewBag.P.Current<span class="sr-only">(current)</span>
                </span>
            </li>

            @if (ViewBag.P.NextExists)
            {
                <li class="page-item"><a class="page-link" asp-controller="contactforms" asp-action="list" asp-route-page=@ViewBag.P.NextNumber>@ViewBag.P.NextNumber</a></li>
                <li class="page-item">
                    <a class="page-link" asp-controller="contactforms" asp-action="list" asp-route-page=@ViewBag.P.NextNumber>Next</a>
                </li>
            }
        </ul>
    </nav>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Registration Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr id="@c.ID">
                    <th>@c.ID</th>
                    <th>@c.Name</th>
                    <th>@c.Surname</th>
                    <th>@c.BirthDate.ToString("D")</th>
                </tr>
            }
        </tbody>
    </table>
}